/.agents export-ignore
/.github export-ignore
/.gitattributes export-ignore
/.gitignore export-ignore
/.vscode export-ignore
/.wp-env.json export-ignore
/composer.json export-ignore
/composer.lock export-ignore
/phpunit.xml.dist export-ignore
/skills-lock.json export-ignore
/tests export-ignore
